<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glpi.ifsp.hortolandia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLPIIFSP"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RequestErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegistrationSuccessfullyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FailedRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OpenTicketActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.TicketDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>